.flashes h4 {
    line-height: 2px;
    font-size: 14px;
}

.hidden {
    display: none;
}

.required {
    color: red;
}

.avatar-container {
    border-radius: 20%;
    overflow: hidden ;
    width: 60px;
    height: 60px;
}

.avatar {
    scale: 1.6;
    object-fit: cover;
}

.user {
    display: inline-block;
    color: black;
}

.dropdown-trigger {
    cursor: pointer;
    display: inline-flex !important;
}