{% extends "base.html" %}
{% block content %}
<div class="background-img">
    <!-- Identify if the user is the admin or not -->
    {% if session.user == 'admin' %}
    <!-- Page heading -->
    <div class="nest-heading-container">
        <h2 class="center-align nest-heading">Admin Nest</h2>
    </div> <!-- Messages from users -->
    <a aria-label="Open your pigeon hole to view your messages" href="#pigeon-hole-admin"
        class="btn-small modal-trigger tooltipped" data-position="bottom"
        data-tooltip="Check to see if any users have been in touch with queries">
        Pigeon Hole
        <i class="fa-solid fa-envelope"></i>
    </a>
    <!-- List of registered users -->
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <h4 class="center-align">Registered Users</h4>
                <!-- Identify if the list is of users is empty. If not display table.-->
                {% if users|length > 0 %}
                <table id="registered-users-table">
                    <thead>
                        <tr>
                            <!-- Username heading -->
                            <th>
                                <!-- Sort descending if ascending -->
                                {% if request.path == url_for('sort_ascending_admin', observation_field='username') %}
                                <a aria-label="Sort users by username in reverse alphabetical order" class="tooltipped"
                                    data-position="bottom" data-tooltip="Reverse sort alphabetically by username"
                                    href="{{ url_for('sort_descending_admin', observation_field='username') }}">
                                    <i class="fa-solid fa-arrow-down-z-a"></i>
                                </a>
                                <!-- Sort ascending if descending -->
                                {% elif request.path == url_for('sort_descending_admin', observation_field='username')
                                %}
                                <a aria-label="Sort users by username in alphabetical order" class="tooltipped"
                                    data-position="bottom" data-tooltip="Sort alphabetically by username"
                                    href="{{ url_for('sort_ascending_admin', observation_field='username') }}">
                                    <i class="fa-solid fa-arrow-down-a-z"></i>
                                </a>
                                <!-- Sort descending if unsorted -->
                                {% else %}
                                <a aria-label="Sort users by username in reverse alphabetical order" class="tooltipped"
                                    data-position="bottom" data-tooltip="Sort alphabetically by username"
                                    href="{{ url_for('sort_ascending_admin', observation_field='username') }}">
                                    <i class="fa-solid fa-arrow-down-a-z"></i>
                                </a>
                                {% endif %}
                                Username
                            </th>
                            <!-- Email heading -->
                            <th> Email</th>
                            <!-- Experience heading -->
                            <th class="hide-mobile">
                                <!-- Sort descending if ascending -->
                                {% if request.path == url_for('sort_ascending_admin', observation_field='experience') %}
                                <a aria-label="Sort users by experience with highest experience first"
                                    class="tooltipped" data-position="bottom"
                                    data-tooltip="Sort users by experience with highest experience first"
                                    href="{{ url_for('sort_descending_admin', observation_field='experience') }}">
                                    <i class="fa-solid fa-arrow-down-z-a"></i>
                                </a>
                                <!-- Sort ascending if descending -->
                                {% elif request.path == url_for('sort_descending_admin', observation_field='experience')
                                %}
                                <a aria-label="Sort users by experience with lowest experience first" class="tooltipped"
                                    data-position="bottom"
                                    data-tooltip="Sort users by experience with lowest experience first"
                                    href="{{ url_for('sort_ascending_admin', observation_field='experience') }}">
                                    <i class="fa-solid fa-arrow-down-a-z"></i>
                                </a>
                                <!-- Sort ascending if unsorted -->
                                {% else %}
                                <a aria-label="Sort users by experience with lowest experience first" class="tooltipped"
                                    data-position="bottom"
                                    data-tooltip="Sort users by experience with lowest experience first"
                                    href="{{ url_for('sort_ascending_admin', observation_field='experience') }}">
                                    <i class="fa-solid fa-arrow-down-a-z"></i>
                                </a>
                                {% endif %}
                                Experience
                            </th>
                            <th id="delete-user-column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <!-- Only display users that are not the admin -->
                        {% if user.username != 'admin' %}
                        <tr>
                            <td>
                                {{ user.username }}
                            </td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td class="hide-mobile">
                                {{ user.experience }} / 6
                            </td>
                            <td>
                                <!-- Delete user -->
                                <a aria-label="Delete user" href="#confirm-delete-user{{ user._id }}"
                                    class="btn-small delete-red modal-trigger red">
                                    <i class="fa-regular fa-trash-can "></i>
                                </a>
                                <!-- Delete confrmation modal -->
                                <div id="confirm-delete-user{{ user._id }}" class="modal">
                                    <div class="modal-content">
                                        <h4>Delete User</h4>
                                        <p>
                                            Are you sure you want to delete this user? <br>
                                            User selected for deletion: <br>
                                            {{ user.username }}
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <!-- Confrim delete -->
                                        <a aria-label="Confirm that you would like to delete this user"
                                            href="{{ url_for('delete_user', user_id=user._id) }}"
                                            class="modal-close btn-flat">Delete</a>
                                        <!-- Don't delete -->
                                        <div class="modal-close btn-flat">Cancel</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
                <!-- If the list is empty display that there are no users -->
                {% else %}
                <h5>There are currently no users registered</h5>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Pigeon Hole Modal -->
    <div class="modal pigeon-hole" id="pigeon-hole-admin">
        <div class="col s12">
            <div class="card-panel">
                <div class="card-heading ">
                    <h4 class="center-align">
                        Recieved Messages
                    </h4>
                    <!-- Check if there are any messages for the admin -->
                    {% if messages|selectattr('recipient', 'equalto', 'admin')|list %}
                    <div>
                        <!-- List messages -->
                        {% for message in messages %}
                        <!-- Only show messages for the session user (admin) -->
                        {% if message.recipient == session.user %}
                        <div class="messages-to-admin">
                            <!-- Expandable message details -->
                            <div class="display-recieved-admin collapsible-header light-section-less-padding">
                                From: {{ message.sender }} <br>
                                Subject: {{ message.subject }} <br>
                                Sent at: {{ message.time }} <br>
                                Message: {{message.body }}
                                <div class="button-container">
                                    <!-- Delete message button -->
                                    <a aria-label="Delete this message" href="#confirm-delete-message{{ message._id }}"
                                        class="btn pigeon-hole-button btn-small modal-trigger delete-red">
                                        <i class="fa-regular fa-trash-can "></i>
                                    </a>
                                    <!-- Reply to message button -->
                                    <a aria-label="Reply to this message" href="#reply-to-message{{ message._id }}"
                                        class="btn modal-trigger btn-small pigeon-hole-button">
                                        <i class="fa-solid fa-reply "></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Modal to confirm deletion of message -->
                        <div id="confirm-delete-message{{ message._id }}" class="modal pigeon-button-modal">
                            <!-- Display message content -->
                            <div class="modal-content">
                                <h4>Delete Message</h4>
                                <p>
                                    Are you sure you want to delete this message? <br>
                                    Message selected for deletion: <br>
                                    From: {{ message.sender }} |
                                    Subject:{{ message.subject }} |
                                    Sent at: {{ message.time }} <br>
                                    {{ message.body }}
                                </p>
                            </div>
                            <!-- Confirm delete or cancel -->
                            <div class="modal-footer">
                                <a aria-label="Confirm that you would like to delete this message"
                                    href="{{ url_for('delete_message', message_id=message._id) }}"
                                    class="modal-close btn-flat">Yes, delete</a>
                                <div class="modal-close btn-flat">No, cancel</div>
                            </div>
                        </div>
                        <!-- Reply to message modal -->
                        <div id="reply-to-message{{ message._id }}" class="modal pigeon-button-modal">
                            <div class="modal-content ">
                                <!-- Message content to reply to -->
                                <h4>Reply to {{ message.sender }}</h4>
                                <div>
                                    <h5> {{ message.sender }}'s message:</h5>
                                    <p>
                                        Subject: {{ message.subject }} <br>
                                        Message: {{ message.body }}
                                    </p>
                                </div>
                                <!-- Reply to message input fields -->
                                <form method="POST" action="{{ url_for('new_message') }}">
                                    <!-- sender pre-filled -->
                                    <div class="sender-admin row">
                                        <div class="input-field col s12 hidden">
                                            <input id="sender{{ message._id }}" name="sender" type="text"
                                                value=" {{ session.user }}" pattern="^[a-zA-Z\s]{2,}$">
                                            <label for="sender{{ message._id }}">Sender</label>
                                        </div>
                                    </div>
                                    <!-- recipient pre-filled -->
                                    <div class="recipient-admin row">
                                        <div class="input-field col s12 hidden">
                                            <input id="recipient{{ message._id }}" name="recipient" type="text"
                                                value="{{ message.sender }}" pattern="^[a-zA-Z\s]{2,}$">
                                            <label for="recipient{{ message._id }}">Recipient</label>
                                        </div>
                                    </div>
                                    <!-- subject pre-filled -->
                                    <div class="subject-admin row">
                                        <div class="input-field col s12">
                                            <input id="subject{{ message._id }}" name="subject" type="text"
                                                value="{{ message.subject }}" pattern="^[a-zA-Z\s]{2,}$" required>
                                            <label for="subject{{ message._id }}">Subject</label>
                                        </div>
                                    </div>
                                    <!-- reply message body input field -->
                                    <div class="body-admin row">
                                        <div class="input-field col s12">
                                            <textarea id="body{{ message._id }}" name="body"
                                                class="materialize-textarea"></textarea>
                                            <label for="body{{ message._id }}">Type your message</label>
                                        </div>
                                    </div>
                                    <!-- Send message -->
                                    <div class="send-button-admin row">
                                        <button type="submit" class="col s12 btn-small">
                                            Send <i class="fa-regular fa-paper-plane"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- Cancel and close modal -->
                            <div class="modal-footer">
                                <div class="modal-close btn-flat">Cancel</div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Display that there are no messages if true -->
                    {% else %}
                    <h6>You have no new messages</h6>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<!-- Redirect to welcome only visible to non-admin users -->
<div id="error-page-conatainer">
    <div class="card-panel" id="error-card">
        <h2>Did you get lost?</h2>
        <p>You shouldn't be here... let's get you back to the flock.</p>
        <a aria-label="Go Home to return to the welcome page." class="btn-small" href="{{ url_for('welcome') }}">
            Go Home
            <i class="fa-solid fa-house"></i>
        </a>
        <p> You aren't authorised to see this page </p>
    </div>
</div>
{% endif %}
{% endblock %}