{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Admin Page</h3>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h4 class="center-align">Registered Users</h4>

            {% if users|length > 0 %}
            <table class="highlight">
                <thead>
                    <tr>
                        <th>
                            <a href="{{ url_for('sort_username') }}">
                                Username <i class="fa-solid fa-sort"></i>
                            </a>
                        </th>
                        <th> Email</th>
                        <th>
                            <a href="{{ url_for('sort_experience') }}">
                                Experience <i class="fa-solid fa-sort"></i>
                            </a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for user in users %}
                    <tr>
                        <td href="#user-details{{ user._id }}" class="modal-trigger">
                            {{ user.username }}
                        </td>
                        <td href="#user-details{{ user._id }}" class="modal-trigger">
                            {{ user.email }}
                        </td>
                        <td href="#user-details{{ user._id }}" class="modal-trigger">
                            {{ user.experience }}
                        </td>
                        <td>
                            <a href="#confirm-delete-user{{ user._id }}" class="btn modal-trigger red">
                                <i class="fa-regular fa-trash-can "></i>
                            </a>
                            <div id="confirm-delete-user{{ user._id }}" class="modal">
                                <div class="modal-content">
                                    <h4>Delete User</h4>
                                    <p>
                                        Are you sure you want to delete this user? <br>
                                        User selected for deletion: <br>
                                        {{ user.username }}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('delete_user', user_id=user._id) }}"
                                        class="modal-close btn-flat">Agree</a>
                                    <div class="modal-close btn-flat">Cancel</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class=card-heading>
                <h4 class="center-align">
                    Messages from users
                </h4>
                <ul class="collapsible"> 
                <!-- {% for message in messages %} -->
                    <li>
                        <div class="collapsible-header">
                            From: {{ message.username }} | 
                            Subject:{{ message.subject }} | 
                            Sent at: {{ message.time }} 
                            <a href="#confirm-delete-message{{ message._id }}" class="btn modal-trigger red">
                                <i class="fa-regular fa-trash-can "></i>
                            </a>
                            <div id="confirm-delete-message{{ message._id }}" class="modal">
                                <div class="modal-content">
                                    <h4>Delete Message</h4>
                                    <p>
                                        Are you sure you want to delete this message? <br>
                                        Message selected for deletion: <br>
                                        From: {{ message.username }} |
                                        Subject:{{ message.subject }} |
                                        Sent at: {{ message.time }} <br>
                                        {{ message.body }}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('delete_message', message_id=message._id) }}" class="modal-close btn-flat">Agree</a>
                                    <div class="modal-close btn-flat">Cancel</div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body"><span>{{ message.body }}</span></div>
                    </li>
                <!-- {% endfor %} -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}