{% extends "base.html" %}
{% block content %}
<h3 class="center-align">My Nest</h3>

<!-- Bird Stats -->
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class=card-heading>
                <h4 class="center-align"> My Bird Stats </h4>
            </div>
            <div class="bird-stats">
                <h5> Observation Stats </h5>
                <div>
                    Total Birds Observed: {{ total_observations }}
                </div>
                <div>
                    Total Bird Species Observed: {{ species_count }}
                </div>
                <div>
                    Average Certainty: {{ average_certainty}}/10
                </div>
                <div class=card-heading>
                    <h5> My life list </h5>
                    <p>
                        A collection and count of all bird species you have seen and submitted on Bird Count.
                    </p>
                    <a href="#life-list-modal{{ user._id }}" class="modal-trigger">View your life list <i class="fa-solid fa-binoculars"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Observations -->
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h4 class="center-align">My Observations</h4>
            {% if observations|selectattr('seen_by', 'equalto', session['user'])|list %}                        
            <a class="btn-small" href="{{ url_for('add_observation') }}">
                New Observation 
                <i class="fa-solid fa-crow"></i>
                <i class="fa-solid fa-plus"></i>
            </a>
                <table class="highlight">
                    <thead>
                        <tr>
                            <th>Bird Species</th>
                            <th>Quantity</th>
                            <th>Location</th>
                            <th>Date</th>
                        </tr>
                    </thead>

                    <tbody>
                            {% for observation in observations %}
                                {% if session.user|lower == observation.seen_by|lower %}
                                <tr>
                                    <td href="#my-observation-details{{ observation._id }}" class="modal-trigger">{{ observation.bird_species }}</td>
                                    <td href="#my-observation-details{{ observation._id }}" class="modal-trigger">{{ observation.quantity }}</td>
                                    <td href="#my-observation-details{{ observation._id }}" class="modal-trigger">{{ observation.location }}</td>
                                    <td href="#my-observation-details{{ observation._id }}" class="modal-trigger">{{ observation.date }}</td>
                                    <td>
                                        <a href="{{ url_for('edit_observation', observation_id=observation._id) }}" class="btn-small">
                                            <i class="fa-solid fa-pencil"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#confirm-delete" class="btn modal-trigger red">
                                            <i class="fa-regular fa-trash-can "></i>
                                        </a>
                                        <div id="confirm-delete" class="modal">
                                            <div class="modal-content">
                                                <h4>Delete Observation</h4>
                                                <p>
                                                    Are you sure you want to delete this observation? <br>
                                                    Observation selected for deletion: <br>
                                                    {{ observation.bird_species }}, {{ observation.location }}, {{ observation.date }}
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{{ url_for('delete_observation', observation_id=observation._id) }}"
                                                    class="modal-close btn-flat">Agree</a>
                                                <a href="{{ url_for('my_nest') }}" class="modal-close btn-flat">Cancel</a>
                                            </div>
                                        </div>
                                    </td>
                                    <div id="my-observation-details{{ observation._id }}" class="modal">
                                        <div class="col s12 modal-content">
                                            <div class="card-image">
                                                <img
                                                    src="https://images.pexels.com/photos/349758/hummingbird-bird-birds-349758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                                                <span class="observation-title">{{ observation.bird_species }} <em>by</em> {{ observation.seen_by }}
                                                    </em></span>
                                            </div>
                                            <div class="card-content">
                                                <p>
                                                    Quantity: {{ observation.quantity }} <br>
                                                    Certainty: {{ observation.certainty }}/10 <br>
                                                    location: {{ observation.location }} <br>
                                                    Seen on: {{ observation.date }} @ {{ observation.time }} <br>
                                                    Notes from {{observation.seen_by}}: <br>
                                                    {{ observation.notes }}
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="modal-close btn-flat">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {% endif %}
                            {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h6>You haven't submitted any observations yet</h6>
                <a class="btn-small" href="{{ url_for('add_observation') }}">
                    Add Observation
                    <i class="fa-solid fa-crow"></i>
                    <i class="fa-solid fa-plus"></i>
                </a>
            {% endif %}
        </div>
    </div>
</div>

<!-- Contact Admin -->
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h4 class="center-align">Contact Admin</h4>
            <p> If you have any queries, you can get in touch with the admin below. Their response will appear in your pigeon hole. </p>
            <a href="#pigeon-hole" class="btn modal-trigger tooltipped" data-position="bottom" data-tooltip="Messages from the admin will appear here">
                Pigeon Hole 
                <i class="fa-solid fa-envelope"></i> 
            </a>
            <a href="#contact-admin" class="btn modal-trigger tooltipped" data-position="bottom" data-tooltip="Get in touch with the admin if you have a query"> 
                Contact admin 
                <i class="fa-solid fa-circle-info"></i>
            </a>
        </div>
    </div>
</div>

<!-- Account Settings -->
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h4 class="center-align">My Account</h4>
            <div class="privacy card-panel">
                <h5>Edit privacy settings</h5> 
                <div class="card-panel">
                    <form id="visibility-form" method="POST" action="{{ url_for('edit_user_visibility', user_id=user._id) }}">
                        <h6>Visibility</h6>
                        <p>
                            Set the visibility of your observations to the community. If set the invisible your observations will not 
                            appear in the community observations. You will still be able to see your observations in your nest.
                        </p>
                        <div class="switch">
                            <label class="tooltipped" data-position="bottom" data-tooltip="Changes are updated immediately">
                                Invisible
                                <input id="visibility-switch" name="visibility-switch" type="checkbox" {% if user.visible is true %} checked {% endif %}>
                                <span class="lever"></span>
                                Visible
                            </label>
                        </div>
                    </form>
                </div>
                <div class="card-panel">
                    <form id="anonymous-form" method="POST" action="{{ url_for('edit_user_anonymous', user_id=user._id) }}">
                        <h6>Anonymity</h6>
                        <p>
                            Set the anonymity of your observations to the community. If set to 'yes' (anonymous) your observations will 
                            still be visible to the community but your username will be hidden.
                        </p>
                        <div class="switch">
                            <label class="tooltipped" data-position="bottom" data-tooltip="Changes are updated immediately">
                                No
                                <input id="anonymous-switch" name="anonymous-switch" type="checkbox" {% if user.anonymous is true %} checked {% endif %}>
                                <span class="lever"></span>
                                Yes
                            </label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="edit-details card-panel"> 
                <h5>Edit Account Details</h5>
                <div>
                    <p> Email: {{ user.email }}</p>
                    <a href="#email-modal" class="modal-trigger tooltipped" data-position="right" data-tooltip="Edit your email address">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                </div>
                <div>
                    <p> Experience: {{ user.experience }}/6</p>
                    <a href="#experience-modal" class="modal-trigger tooltipped" data-position="right" data-tooltip="Edit your experience level">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                </div>                
            </div>
            <div class="delete-account card-panel">
                <h5>Delete Account</h5>
                <a href="#confirm-delete-account{{ user._id }}" class="modal-trigger red">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    DELETE ACCOUNT
                    <i class="fa-solid fa-triangle-exclamation"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- New Message Modal -->
<div id="contact-admin" class="modal">
    <div class="card-panel modal-content">
        <div class="card-heading ">
            <h4> Contact Admin </h4>
        </div>
        <div class="contact-form-container">
            <form method="POST" action="{{ url_for('new_message') }}">
                <div class="row">
                    <div class="input-field col s12 hidden">
                        <input id="sender" name="sender" type="text" value=" {{ session.user }} "
                            pattern="^[a-zA-Z\s]{2,}$">
                        <label for="sender">Sender</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 hidden">
                        <input id="recipient" name="recipient" type="text" value="admin" pattern="^[a-zA-Z\s]{2,}$">
                        <label for="recipient">Recipient</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="subject" name="subject" type="text" pattern="^[a-zA-Z\s]{2,}$" required>
                        <label for="subject">Subject</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="body" name="body" class="materialize-textarea" required></textarea>
                        <label for="body">Type your message</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="col s12 btn-large">
                        Send message <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </div>
                <div class="modal-close btn-flat">Cancel</div>
            </form>
        </div>
    </div>
</div>

<!-- Life List Modal -->
<div class="modal" id="life-list-modal{{ user._id }}">
    <div class="modal-content">
        <div class="row">
            <div class="col s12 m5">
                <div class=card-heading>
                    <h4> My life list </h4>
                    {% if tally|length > 0 %}
                    <table>
                        <thead>
                            <tr>
                                <th> Bird Species </th>
                                <th> Quantity </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bird in tally %}
                            <tr>
                                <td> {{ bird._id }}</td>
                                <td> {{ bird.totalQuantity }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h6>You haven't got any birds in your nest</h6>
                    <a class="btn-small" href="{{ url_for('add_observation') }}">
                        Add Observation
                        <i class="fa-solid fa-crow"></i>
                        <i class="fa-solid fa-plus"></i>
                    </a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pigeon Hole Modal -->
<div class="row modal" id="pigeon-hole">
    <div class="col s12">
        <div class="card-panel">
            <div class=card-heading>
                <h4 class="center-align">
                    Recieved Messages
                </h4>
                {% if messages|selectattr('recipient', 'equalto', session['user'])|list %}
                <ul class="collapsible">
                    {% for message in messages %}
                    {% if message.recipient == session.user %}
                    <li>
                        <div class="collapsible-header">
                            From: {{ message.sender }} |
                            Subject:{{ message.subject }} |
                            Sent at: {{ message.time }}
                            <!-- Delete message  -->
                            <a href="#confirm-delete-message{{ message._id }}" class="btn modal-trigger red">
                                <i class="fa-regular fa-trash-can "></i>
                            </a>
                            <div id="confirm-delete-message{{ message._id }}" class="modal">
                                <div class="modal-content">
                                    <h4>Delete Message</h4>
                                    <p>
                                        Are you sure you want to delete this message? <br>
                                        Message selected for deletion: <br>
                                        From: {{ message.sender }} |
                                        Subject:{{ message.subject }} |
                                        Sent at: {{ message.time }} <br>
                                        {{ message.body }}
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('delete_message', message_id=message._id) }}"
                                        class="modal-close btn-flat">Agree</a>
                                    <div class="modal-close btn-flat">Cancel</div>
                                </div>
                            </div>
                            <!-- Reply to message  -->
                            <a href="#reply-to-message{{ message._id }}{{ message.sender }}{{ message.body }}{{ message.subject }}"
                                class="btn modal-trigger">
                                <i class="fa-solid fa-reply "></i>
                            </a>
                            <div id="reply-to-message{{ message._id }}{{ message.sender }}{{ message.body }}{{ message.subject }}"
                                class="modal">
                                <div class="modal-content">
                                    <h4>Reply to {{ message.sender }}</h4>
                                    <div>
                                        <h5> {{ message.sender }}'s message:</h5>
                                        <p>
                                            Subject:{{ message.subject }} <br>
                                            {{ message.body }}
                                        </p>
                                    </div>
                                    <form method="POST" action="{{ url_for('new_message') }}">
                                        <div class="row">
                                            <div class="input-field col s12 hidden">
                                                <input id="sender" name="sender" type="text" value=" {{ session.user }}"
                                                    pattern="^[a-zA-Z\s]{2,}$">
                                                <label for="sender">Sender</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12 hidden">
                                                <input id="recipient" name="recipient" type="text"
                                                    value="{{ message.sender }}" pattern="^[a-zA-Z\s]{2,}$">
                                                <label for="subject">Recipient</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="subject" name="subject" type="text"
                                                    value="{{ message.subject }}" pattern="^[a-zA-Z\s]{2,}$" required>
                                                <label for="subject">Subject</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <textarea id="body" name="body" class="materialize-textarea"></textarea>
                                                <label for="body">Type your message</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="col s12 btn-large">
                                                Send <i class="fa-regular fa-paper-plane"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="modal-close btn-flat">Cancel</div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body"><span>{{ message.body }}</span></div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                <h6>You have no new messages</h6>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Edit Email Modal -->
<form method="POST" action="{{ url_for('edit_user_email', user_id=user._id) }}" id="email-modal" class="modal">
    <div class="modal-content">
        <h4>Edit Email</h4>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-at prefix"></i>
                <input id="email-edit" name="email-edit" type="email" class="validate" required>
                <label for="email-edit">Email</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="modal-close btn-flat">Update</a>
        <div class="modal-close btn-flat">Cancel</div>
    </div>
</form>

<!-- Edit Experience Modal -->
<form method="POST" action="{{ url_for('edit_user_experience', user_id=user._id) }}" id="experience-modal" class="modal">
    <div class="modal-content">
        <h4>Edit Experience</h4>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-graduation-cap prefix"></i>
                <select id="experience-edit" name="experience-edit" required>
                    <option value="0" selected></option>
                    <option value="1"><strong>Egg</strong> (What's a bird?)</option>
                    <option value="2"><strong>Hatchling</strong> (New to this)</option>
                    <option value="3"><strong>Fledgling</strong> (Garden birds only)</option>
                    <option value="4"><strong>Juvenile</strong> ("That's a Coot, not a Moorhen")</option>
                    <option value="5"><strong>Adult</strong> (Can identify 'that little flitty one')</option>
                    <option value="6"><strong>Owl</strong> (Have seen ALL the birds)</option>
                </select>
                <label for="experience-edit">Experience Level</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="modal-close btn-flat">Update</a>
        <div class="modal-close btn-flat">Cancel</div>
    </div>
</form>

<!-- Delete Account Modal -->
<div id="confirm-delete-account{{ user._id }}" class="modal">
    <div class="modal-content">
        <h4>Delete Account</h4>
        <p>
            Are you sure you want to delete your account? <br>
        </p>
        <p>
            Your observations will not be deleted with your account as they provide important information and statistics which helps
            us with our bird research. All off your observations will appear in the community observations and as if created by an 
            anonymous user, so the community will not know these are your observations. 
        </p>
    </div>
    <div class="modal-footer">
        <a href="{{ url_for('delete_user', user_id=user._id) }}" class="modal-close btn-flat">Yes, delete</a>
        <div class="modal-close btn-flat">No, cancel</div>
    </div>
</div>


{% endblock %}