{% extends "base.html" %}
{% block content %}

<h3 class="center-align">My Nest</h3>


<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <table class="highlight">
                <h4>My Observations</h4>
                <a class="btn-small" href="{{ url_for('add_observation') }}">New Observation <i class="fa-solid fa-crow"></i><i
                        class="fa-solid fa-plus"></i></a>
                <thead>
                    <tr>
                        <th>Bird Species</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>

                <tbody>
                    {% for observation in observations %}
                    <tr>
                        <td>{{ observation.bird_species }}</td>
                        <td>{{ observation.location }}</td>
                        <td>{{ observation.date }}</td>
                        <td>{{ observation.time }}</td>
                        <td>
                            <a href="{{ url_for('edit_observation', observation_id=observation._id) }}" class="btn-small">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#" class="btn-small red">
                                <i class="fa-regular fa-trash-can "></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

     
{% endblock %}