{% extends "base.html" %}
{% block content %}



<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <h3 class="center-align">Community Observations</h3>
            <a href="{{ url_for('get_observations') }}" class="center-align btn tooltipped" data-position="bottom" data-tooltip="Reset sort and search results">
                Reset All
            </a>
            {% if session.user %}
            <a class="btn-small tooltipped" data-position="bottom" data-tooltip="Add your own observation" href="{{ url_for('add_observation') }}">
                New Observation 
                <i class="fa-solid fa-crow"></i>
                <i class="fa-solid fa-plus"></i>
            </a>
            {% else %}
            <a class="btn-small tooltipped" data-position="bottom" data-tooltip="Create an account and record your observations"
                href="{{ url_for('register') }}">
                Add observations!
                <i class="fa-solid fa-user-plus"></i>
            </a>
            {% endif %}
            <form action="{{ url_for('search') }}" method="POST">
                <div class="row valign-wrapper">
                    <div class="input-field col s12 m6">
                        <input type="text" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query">Search for an observation using fields: <em>"Seen By", "Bird Species" or "Location" </em></label>
                    </div>
                    <button type="submit"><i class="fas fa-search prefix"></i></button>
                </div>
            </form>
            {% if observations|length > 0 %}
            <table class="highlight" id="community-observations">
                <thead>
                    <tr>
                        <th> Seen By </th>                        
                        <th>
                            {% if request.path == url_for('sort_ascending', observation_field='bird_species') %}
                            <a class="hidden" href="{{ url_for('sort_ascending', observation_field='bird_species') }}">
                                <i class="fa-solid fa-arrow-down-a-z"></i>
                            </a>
                            <a class="tooltipped" data-position="bottom" data-tooltip="Reverse sort alphabetically by species" href="{{ url_for('sort_descending', observation_field='bird_species') }}">
                                <i class="fa-solid fa-arrow-down-z-a"></i>
                            </a>
                            {% elif request.path == url_for('sort_descending', observation_field='bird_species') %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Sort alphabetically by species" href="{{ url_for('sort_ascending', observation_field='bird_species') }}">
                                <i class="fa-solid fa-arrow-down-a-z"></i>
                            </a>
                            <a class="hidden" href="{{ url_for('sort_descending', observation_field='bird_species') }}">
                                <i class="fa-solid fa-arrow-down-z-a"></i>
                            </a>
                            {% else %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Sort alphabetically by species" href="{{ url_for('sort_ascending', observation_field='bird_species') }}">
                                <i class="fa-solid fa-arrow-down-a-z"></i>
                            </a>
                            <a class="hidden" href="{{ url_for('sort_descending', observation_field='bird_species') }}">
                                <i class="fa-solid fa-arrow-down-z-a"></i>
                            </a>
                            {% endif %}
                            Bird Species
                        </th>
                        <th>
                            {% if request.path == url_for('sort_ascending', observation_field='quantity') %}
                            <a class="hidden" href="{{ url_for('sort_ascending', observation_field='quantity') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            <a class="tooltipped" data-position="bottom" data-tooltip="Show highest quantity first" href="{{ url_for('sort_descending', observation_field='quantity') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            {% elif request.path == url_for('sort_descending', observation_field='quantity') %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Show lowest quantity first" href="{{ url_for('sort_ascending', observation_field='quantity') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            <a class="hidden" href="{{ url_for('sort_descending', observation_field='quantity') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            {% else %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Show highest quantity first" href="{{ url_for('sort_descending', observation_field='quantity') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            <a class="hidden" href="{{ url_for('sort_descending', observation_field='quantity') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            {% endif %}
                            Quantity
                        </th>
                        <th>
                            {% if request.path == url_for('sort_ascending', observation_field='location') %}
                            <a class="hidden" href="{{ url_for('sort_ascending', observation_field='location') }}">
                                <i class="fa-solid fa-arrow-down-a-z"></i>
                            </a>
                            <a class="tooltipped" data-position="bottom" data-tooltip="Reverse sort alphabetically by species" href="{{ url_for('sort_descending', observation_field='location') }}">
                                <i class="fa-solid fa-arrow-down-z-a"></i>
                            </a>
                            {% elif request.path == url_for('sort_descending', observation_field='location') %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Sort alphabetically by location" href="{{ url_for('sort_ascending', observation_field='location') }}">
                                <i class="fa-solid fa-arrow-down-a-z"></i>
                            </a>
                            <a class="hidden" href="{{ url_for('sort_descending', observation_field='location') }}">
                                <i class="fa-solid fa-arrow-down-z-a"></i>
                            </a>
                            {% else %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Sort alphabetically by location" href="{{ url_for('sort_ascending', observation_field='location') }}">
                                <i class="fa-solid fa-arrow-down-a-z"></i>
                            </a>
                            <a class="hidden" href="{{ url_for('sort_descending', observation_field='location') }}">
                                <i class="fa-solid fa-arrow-down-z-a"></i>
                            </a>
                            {% endif %}
                            Location
                        </th>
                        <th>
                            {% if request.path == url_for('sort_ascending', observation_field='date') %}
                            <a class="hidden" href="{{ url_for('sort_ascending', observation_field='date') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            <a class="tooltipped" data-position="bottom" data-tooltip="Show most recent first" href="{{ url_for('sort_descending', observation_field='date') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            {% elif request.path == url_for('sort_descending', observation_field='date') %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Show oldest first" href="{{ url_for('sort_ascending', observation_field='date') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            <a class="hidden" href="{{ url_for('sort_descending', observation_field='date') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            {% else %}
                            <a class="tooltipped" data-position="bottom" data-tooltip="Show most recent first" href="{{ url_for('sort_descending', observation_field='date') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            <a class="hidden" href="{{ url_for('sort_descending', observation_field='date') }}">
                                <i class="fa-solid fa-sort"></i>
                            </a>
                            {% endif %}
                            Date
                        </th>
                    </tr>
                </thead>
            
                <tbody>
                    {% for observation in observations %}
                        {% if observation.visible %}
                            <tr>
                                <td href="#observation-details{{ observation._id }}" class="modal-trigger">
                                    {% if observation.anonymous %}
                                        anonymousbirdy
                                    {% else %}
                                        {{ observation.seen_by }}
                                    {% endif %}
                                </td>
                                <td href="#observation-details{{ observation._id }}" class="modal-trigger">{{ observation.bird_species }}</td>
                                <td href="#observation-details{{ observation._id }}" class="modal-trigger">{{ observation.quantity }}</td>
                                <td href="#observation-details{{ observation._id }}" class="modal-trigger">{{ observation.location }}</td>
                                <td href="#observation-details{{ observation._id }}" class="modal-trigger">{{ observation.date }}</td>
                                {% if session.user|lower == observation.seen_by|lower or session.user|lower == 'admin' %}
                                <td>
                                    <a href="{{ url_for('edit_observation', observation_id=observation._id) }}" class="btn-small tooltipped" data-position="left" data-tooltip="Edit">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="#confirm-delete{{ observation._id }}" class="btn modal-trigger red tooltipped" data-position="right" data-tooltip="Delete">
                                        <i class="fa-regular fa-trash-can "></i>
                                    </a>
                                    <div id="confirm-delete{{ observation._id }}" class="modal">
                                        <div class="modal-content">
                                            <h4>Delete Observation</h4>
                                            <p>
                                                Are you sure you want to delete this observation? <br>
                                                Observation selected for deletion: <br>
                                                {{ observation.bird_species }}, {{ observation.location }}, {{ observation.date }}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ url_for('delete_observation', observation_id=observation._id) }}"
                                                class="modal-close btn-flat">Agree</a>
                                            <a href="{{ url_for('get_observations') }}" class="modal-close btn-flat">Cancel</a>
                                        </div>
                                    </div>
                                </td>                        
                                {% endif %}
                                <div id="observation-details{{ observation._id }}" class="modal">
                                    <div class="col s12 modal-content">
                                        <div class="card-image">
                                            <img src="https://images.pexels.com/photos/349758/hummingbird-bird-birds-349758.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                                            <span class="observation-title">
                                                {{ observation.bird_species }} <em>by</em> 
                                                {% if observation.anonymous %}
                                                    AnonymousBirdy
                                                {% else %}
                                                    {{ observation.seen_by }}
                                                {% endif %}
                                            </span>
                                        </div>
                                        <div class="card-content">
                                            <p>
                                                Quantity: {{ observation.quantity }} <br>
                                                Certainty: {{ observation.certainty }}/10 <br>
                                                location: {{ observation.location }} <br>
                                                Seen on: {{ observation.date }} @ {{ observation.time }} <br>
                                                Notes from {{observation.seen_by}}: <br>
                                                {{ observation.notes }}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{{ url_for('get_observations') }}" class="modal-close btn-flat">Close</a>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h3> No results </h3>
            {% endif %}
        </div>
    </div>
</div>
        
{% endblock %}