{% extends "base.html" %}
{% block content %}
<!-- Anyone is authorised to view this page so no access restrictions required -->
<div class="background-img" id="community-observations-container">
    <div class="col s12">
        <div class="card-panel" id="observation-card">
            <div>
                <!-- Page heading -->
                <h3 class="center-align">Community Observations</h3>
            </div>
            <!-- Search observations -->
            <form action="{{ url_for('search') }}" method="POST">
                <div class="row valign-wrapper">
                    <!-- If the user is logged in display 'new observation' button -->
                    {% if session.user and session.user != "admin" %}
                        <a class="btn-small tooltipped set-size" data-position="bottom" data-tooltip="Add your own observation" href="{{ url_for('add_observation') }}">
                            New Observation 
                            <i class="fa-solid fa-crow"></i>
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    <!-- If user isn't logged in display button to log in -->
                    {% elif session.user != "admin" %}
                        <a class="btn-small tooltipped set-size" data-position="bottom" data-tooltip="Log in to record your observations" href="{{ url_for('login') }}">
                            Log in
                            <i class="fa-solid fa-user-plus"></i>
                        </a>
                    {% endif %}
                    <a href="{{ url_for('get_observations') }}" class="center-align btn-small set-size tooltipped" data-position="bottom" data-tooltip="Reset sort and search results">
                        Reset All
                    </a>
                    <!-- Search input field -->
                    <div class="input-field col s12 m12 l12 search">
                        <input type="text" name="query" id="query" minlength="3" class="validate tooltipped" data-position="bottom" data-tooltip="Search by fields: 'Seen By', 'Bird Species' or 'Location'" placeholder="Search observations" required>
                        <button class="btn-small">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Display observations if there are more than 0 -->
            {% if observations|length > 0 %}
                <table class="highlight" id="community-observations">
                    <!-- Table headings -->
                    <thead>
                        <tr>
                            <th class="hide-mobile"> Seen By </th>
                            <th>
                                <!-- Sort bird species in descending order if already ascending -->
                                {% if request.path == url_for('sort_ascending', observation_field='bird_species') %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Reverse sort alphabetically by species" href="{{ url_for('sort_descending', observation_field='bird_species') }}">
                                        <i class="fa-solid fa-arrow-down-z-a"></i>
                                    </a>
                                <!-- Sort bird species in ascending order if already descending -->
                                {% elif request.path == url_for('sort_descending', observation_field='bird_species') %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Sort alphabetically by species" href="{{ url_for('sort_ascending', observation_field='bird_species') }}">
                                        <i class="fa-solid fa-arrow-down-a-z"></i>
                                    </a>
                                <!-- Sort bird species in ascending order if unsorted -->
                                {% else %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Sort alphabetically by species" href="{{ url_for('sort_ascending', observation_field='bird_species') }}">
                                        <i class="fa-solid fa-arrow-down-a-z"></i>
                                    </a>
                                {% endif %}
                                Bird Species
                            </th>
                            <th class="hide-mobile">
                                <!-- Sort quantity in descending order if already ascending -->
                                {% if request.path == url_for('sort_ascending', observation_field='quantity') %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Show highest quantity first" href="{{ url_for('sort_descending', observation_field='quantity') }}">
                                        <i class="fa-solid fa-sort"></i>
                                    </a>
                                <!-- Sort quantity in ascending order if already descending -->
                                {% elif request.path == url_for('sort_descending', observation_field='quantity') %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Show lowest quantity first" href="{{ url_for('sort_ascending', observation_field='quantity') }}">
                                        <i class="fa-solid fa-sort"></i>
                                    </a>
                                <!-- Sort quantity in descending order if not sorted -->
                                {% else %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Show highest quantity first" href="{{ url_for('sort_descending', observation_field='quantity') }}">
                                        <i class="fa-solid fa-sort"></i>
                                    </a>
                                {% endif %}
                                Quantity
                            </th>
                            <th>
                                <!-- Sort location in descending order if already ascending -->
                                {% if request.path == url_for('sort_ascending', observation_field='location') %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Reverse sort alphabetically by species" href="{{ url_for('sort_descending', observation_field='location') }}">
                                        <i class="fa-solid fa-arrow-down-z-a"></i>
                                    </a>
                                <!-- Sort location in ascending order if already descending -->
                                {% elif request.path == url_for('sort_descending', observation_field='location') %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Sort alphabetically by location" href="{{ url_for('sort_ascending', observation_field='location') }}">
                                        <i class="fa-solid fa-arrow-down-a-z"></i>
                                    </a>
                                <!-- Sort location in ascending order if not sorted -->
                                {% else %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Sort alphabetically by location" href="{{ url_for('sort_ascending', observation_field='location') }}">
                                        <i class="fa-solid fa-arrow-down-a-z"></i>
                                    </a>
                                {% endif %}
                                Location
                            </th>
                            <th>
                                <!-- Sort date in descending order if already ascending -->
                                {% if request.path == url_for('sort_ascending', observation_field='date') %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Show most recent first" href="{{ url_for('sort_descending', observation_field='date') }}">
                                        <i class="fa-solid fa-sort"></i>
                                    </a>
                                <!-- Sort date in ascending order if already descending -->
                                {% elif request.path == url_for('sort_descending', observation_field='date') %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Show oldest first" href="{{ url_for('sort_ascending', observation_field='date') }}">
                                        <i class="fa-solid fa-sort"></i>
                                    </a>
                                <!-- Sort date in descending order if not sorted -->
                                {% else %}
                                    <a class="tooltipped" data-position="bottom" data-tooltip="Show most recent first" href="{{ url_for('sort_descending', observation_field='date') }}">
                                        <i class="fa-solid fa-sort"></i>
                                    </a>
                                {% endif %}
                                Date
                            </th>
                            <th id="more-details"></th>
                            <th id="edit"></th>
                            <th id="delete"></th>
                        </tr>
                    </thead>
                    <!-- Observation table data -->
                    <tbody>
                        {% for observation in observations %}
                            <!-- Only show observations with visibility set to true -->
                            {% if observation.visible %}
                            <tr 
                                class="observation-modal-trigger" 
                                data-id="{{ observation._id }}" 
                                data-species="{{ observation.bird_species }}"
                                data-location="{{ observation.location }}"
                                data-date="{{ observation.date }}"
                                data-time="{{ observation.time }}"
                                data-seen-by="{{ observation.seen_by }}"
                                data-quantity="{{ observation.quantity }}"
                                data-image="{{ observation.image }}"
                                data-anonymous="{{ observation.anonymous }}"
                                data-certainty="{{ observation.certainty }}"
                                data-notes="{{ observation.notes }}">
                                <!-- Observation 'seen by' -->
                                <td class="hide-mobile">
                                    <!-- If observation is set to anonymous display 'seen by' as anonymousbirdy -->
                                    {% if observation.anonymous %}
                                    anonymousbirdy
                                    {% else %}
                                    {{ observation.seen_by }}
                                    {% endif %}
                                </td>
                                <!-- Other observation data -->
                                <td>{{ observation.bird_species }}</td>
                                <td class="hide-mobile">{{ observation.quantity }}</td>
                                <td>{{ observation.location }}</td>
                                <td>{{ observation.date }}</td>
                                <!-- View observation -->
                                <td class="hide-mobile">
                                    <a>
                                        <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                                    </a>
                                </td>
                                <!-- If the session user is logged in or is the admin, display edit and delete buttons -->
                                {% if session.user|lower == observation.seen_by|lower or session.user|lower == 'admin' %}
                                    <!-- Edit observation -->
                                    <td>
                                        <a href="{{ url_for('edit_observation', observation_id=observation._id) }}"
                                            class="btn-small edit-button hide-mobile">
                                            <i class="fa-solid fa-pencil"></i>
                                        </a>
                                    </td>
                                    <!-- Delete observation -->
                                    <td>
                                        <a href="#confirm-delete{{ observation._id }}"
                                            class="btn-small modal-trigger delete-button delete-red hide-mobile">
                                            <i class="fa-regular fa-trash-can "></i>
                                        </a>
                                        <!-- Confirm delete modal -->
                                        <div id="confirm-delete{{ observation._id }}" class="modal">
                                            <div class="modal-content">
                                                <h4>Delete Observation</h4>
                                                <p>
                                                    Are you sure you want to delete this observation? <br>
                                                    Observation selected for deletion: <br>
                                                    {{ observation.bird_species }}, {{ observation.location }}, {{ observation.date }}
                                                </p>
                                            </div>
                                            <!-- Delete confirm or cancel buttons-->
                                            <div class="modal-footer">
                                                <a href="{{ url_for('delete_observation', observation_id=observation._id) }}"
                                                    class="modal-close btn-flat">Delete</a>
                                                <div class="modal-close btn-flat">Cancel</div>
                                            </div>
                                        </div>
                                    </td>
                                {% else %}
                                <!-- Edit observation -->
                                    <td>
                                        <a href="#" class="hide-mobile"></a>
                                    </td>
                                    <!-- Delete observation -->
                                    <td>
                                        <a href="#" class="hide-mobile"></a>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>            
                <!-- Observation modal -->
                <div id="observation-details" class="modal">
                    <div id="bird-info-modal" class="col s12 modal-content">
                        <div id="bird-info-body">
                            <!-- Observation image -->
                            <div id="bird-info-image-container" class="card-image">
                                <img id="observation-image" src="#" alt="Observation Image">
                                <span id="observation-title">
                                </span>
                            </div>
                            <!-- Observation details -->
                            <div class="card-content" id="observation-data">
                                <p id="observation-quantity"> Quantity:</p>
                                <p id="observation-certainty"> Certainty:/10 </p>
                                <p id="observation-location"> Location: </p>
                                <p id="observation-date"></p>
                                <p id="observation-notes"> Notes: <em>User didn't add any notes.</em></p>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- If there are no results explain empty table -->
            {% else %}
                <h3> No results </h3>
            {% endif %}
        </div>
    </div>
</div>
        
{% endblock %}                                
