{% extends "base.html" %}
{% block content %}
<div class="background-img" id="register-page-conatainer">
  <!-- Registration form -->
  <div class="row">
    <form class="col s12 m8 l8 margin-auto" method="POST" action="{{ url_for('register') }}">
      <div class="card-panel">
        <!-- Page heading -->
        <h3 class="center-align">Register</h3>
        <!-- username -->
        <div id="register-username" class="row">
          <div class="input-field col s12">
            <i class="fas fa-user-plus prefix"></i>
            <input id="username" name="username" type="text" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,15}$"
              class="validate" required>
            <label class="tooltipped" data-position="bottom" data-tooltip="Username can only contain letters and numbers. Must be 5-20 letters. Cannot contain spaces. This field is not case sensitive" for="username">Username <strong class="required">*</strong> <i class="fa-regular fa-circle-question"></i></label>
          </div>
        </div>
        <!-- passowrd -->
        <div id="register-password" class="row">
          <div class="input-field col s12">
            <i class="fas fa-user-lock prefix"></i>
            <input id="password" name="password" type="password" minlength="5" maxlength="15"
              pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
            <label class="tooltipped" data-position="bottom" data-tooltip="Password can only contain letters and numbers. Must be 5-15 letters. Cannot contain spaces. This field is case sensitive." for="password">Password <strong class="required">*</strong> <i class="fa-regular fa-circle-question"></i></label>
          </div>
        </div>
        <!-- Email -->
        <div id="register-email" class="row">
          <div class="input-field col s12">
            <i class="fas fa-at prefix"></i>
            <input id="email" name="email" type="email" class="validate" required>
            <label for="email" class="tooltipped" data-position="bottom" data-tooltip="This must be a standard email address. Must contain '@'.">Email <strong class="required" >*</strong> <i class="fa-regular fa-circle-question"></i></label>
          </div>
        </div>
        <!-- Experience -->
        <div id="register-experience" class="row">
          <div class="input-field col s12">
            <i class="fas fa-graduation-cap prefix"></i>
            <select id="experience" name="experience" class="validate" required>
              <option value="" selected>How much do you know about birds?</option>
              <option value="1">Egg (What's a bird?)</option>
              <option value="2">Hatchling (New to this)</option>
              <option value="3">Fledgling (Garden birds only)</option>
              <option value="4">Juvenile ("That's a Coot, not a Moorhen")</option>
              <option value="5">Adult (Can identify 'that little flitty one')</option>
              <option value="6">Owl (Have seen ALL the birds)</option>
            </select>
            <label for="experience">Experience Level <strong class="required">*</strong></label>
          </div>
        </div>
        <p><strong class="required">*</strong> indicates required field</p>
        <!-- Register submit button-->
        <div id="register-button" class="row">
          <button type="submit" class="col s12 btn-small">
            Register <i class="fa-solid fa-user-plus"></i>
          </button>
        </div>
        <!-- Redirect to login -->
        <div id="register-to-login" class="row">
          <div class="col s12">
            <p class="center-align">
              Been here before?
              <a aria-label="Log in" href="{{ url_for('login') }}">Log in</a>
            </p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}